<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>Servlets.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BallonsServlet</servlet-name>
        <servlet-class>Servlets.BallonsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChaussuresServlet</servlet-name>
        <servlet-class>Servlets.ChaussuresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompteServlet</servlet-name>
        <servlet-class>Servlets.CompteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>Servlets.index</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>Servlets.InscriptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaillotServlet</servlet-name>
        <servlet-class>Servlets.MaillotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanierServlet</servlet-name>
        <servlet-class>Servlets.PanierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnexionServlet</servlet-name>
        <servlet-class>Servlets.ConnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconnexionServlet</servlet-name>
        <servlet-class>Servlets.DeconnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanierControle</servlet-name>
        <servlet-class>Servlets.PanierControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaiementControle</servlet-name>
        <servlet-class>Servlets.PaiementControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoClientServlet</servlet-name>
        <servlet-class>Servlets.InfoClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionControle</servlet-name>
        <servlet-class>Servlets.InscriptionControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoClientControle</servlet-name>
        <servlet-class>Servlets.InfoClientControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoAdminServlet</servlet-name>
        <servlet-class>Servlets.InfoAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeAdminServlet</servlet-name>
        <servlet-class>Servlets.CommandeAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommandeClientServlet</servlet-name>
        <servlet-class>Servlets.CommandeClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/AboutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BallonsServlet</servlet-name>
        <url-pattern>/BallonsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChaussuresServlet</servlet-name>
        <url-pattern>/ChaussuresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompteServlet</servlet-name>
        <url-pattern>/CompteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/InscriptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaillotServlet</servlet-name>
        <url-pattern>/MaillotServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanierServlet</servlet-name>
        <url-pattern>/PanierServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnexionServlet</servlet-name>
        <url-pattern>/ConnexionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnexionServlet</servlet-name>
        <url-pattern>/DeconnexionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanierControle</servlet-name>
        <url-pattern>/PanierControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaiementControle</servlet-name>
        <url-pattern>/PaiementControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoClientServlet</servlet-name>
        <url-pattern>/InfoClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionControle</servlet-name>
        <url-pattern>/InscriptionControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoClientControle</servlet-name>
        <url-pattern>/InfoClientControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoAdminServlet</servlet-name>
        <url-pattern>/InfoAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeAdminServlet</servlet-name>
        <url-pattern>/CommandeAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommandeClientServlet</servlet-name>
        <url-pattern>/CommandeClientServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
